@import "./mixins";

.header {
  z-index: 1;
  background-color: white;
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  div > * {
    margin-right: 10px;
  }
  &__logo {
    width: 100px;
    height: auto;
  }
  &__profile {
    width: 30px;
    height: 30px;
    background-color: orange;
    border-radius: 50%;
    font-weight: 600;
    @include flex-center;
  }
  &__right,
  &__center {
    @include flex-center;
  }
}
